<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }

        h1, h2 {
            color: #343a40;
        }

        section {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #343a40;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e9ecef;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #343a40;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }

        a:hover {
            background-color: #495057;
        }
    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th>Codigo</th>
                    <th>URL</th>
                    <th>Esta_Borrado</th>
                    <th>Orden</th>
                </tr>
            </thead>
            <tbody>
                {{#each integrantes}}
                <tr>
                    <td>{{matricula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{rol}}</td>
                    <td>{{codigo}}</td>
                    <td>{{url}}</td>
                    <td>{{esta_borrado}}</td>
                    <td>{{orden}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <a href="/admin">Volver</a>
    <a href="admin/Integrante/crear">Crear Nuevo</a>
</body>
</html>
